<div class="t4">
  <span class="tit">
    流量明细
    <span class="tag">轻量</span>
  </span>

  <div class="desc">
    <i class="gou"></i>
    每月
    <b class="re bo">250GB</b>
    流量
  </div>
</div>
<div class="t4">
  <span class="tit">重置期限</span>
  <div class="desc">
    <i class="gou"></i>
    每月购买日免费重置流量手动重置流量
    <span class="re">35CNY</span>
    /次
  </div>
</div>
<div class="t4">
  <span class="tit">线路优势</span>
  <div class="desc">
    <i class="cha"></i>
    多地BGP跨境专线出国
  </div>
</div>
<div class="t4">
  <span class="tit">流媒体支持</span>
  <div class="desc">
    <i class="gou"></i>
    Netfilx/Hulu/Hbo/Disney+/Dazn等流媒体
  </div>
</div>
<div class="t4">
  <span class="tit">套餐优势</span>
  <div class="desc">
    <i class="gou"></i>
    全球
    <span class="re">90+</span>
    国家/地区，
    <span class="re">200+</span>
    节点
  </div>
</div>
<div class="t4">
  <span class="tit">设备支持</span>
  <div class="desc">
    <i class="gou"></i>
    SS-Obfs协议，支持
    <span class="re">10</span>
    台设备同时使用
  </div>
</div>
<div class="t4">
  <span class="tit">其他说明</span>
  <div class="desc">
    <i class="gou"></i>
    <b class="re bo">无退款服务</b>
    ，介意勿买
  </div>
</div>
